*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to left, #1791a6, #18409d);
}

.calc-grid {
    display: flex;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
}
.calc {
    grid-column: 1/-1;
    background-color: rgba(65, 4, 4, 0.75);
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    flex-direction: column;
    justify-content: space-around;
    padding: 0.7rem;
    word-wrap: break-word;
    word-break: break-all;
    border: none;
    border-radius: 7px;
}

input {
    grid-column: span 4;
    background-color: rgb(3, 40, 50);
    border: 1px solid #638cec;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 40px;
    padding: 10px;
    margin: 30px 0px 30px 0px;
    color: white;
}

.calc > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #638cec;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(32, 31, 31, 0.75);
}

.calc > button:hover,
.calc > button:focus {
    background-color: rgba(255, 255, 255, 0.9) !important;
}
.bottom-right {
    border-bottom-right-radius: 5px;
}
.bottom-left {
    border-bottom-left-radius: 5px;
}

.span-two {
    grid-column: span 2;
}

.upper {
    background-color: rgb(13, 143, 23) !important;
}
